body {
    margin: 8px;
    width: 100%;
    max-width: 1024px;
    
}
#mainHeading{
    color: red;
}
.funParagraph{
    color: green;
}
figure{
    margin: 0;
    padding: 0;
    text-align: center;
    max-width: 1024px;
}
main{
    max-width: 1024px;
    text-align: center;
}